body{
    margin: 0px;
    font-family: 'Pangolin', cursive;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    padding: 40px;
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.button{
    background-image: linear-gradient(lightsalmon,tomato);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position: right;
}
.b-shadow{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
}
.experiance{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#first-half{
    border-left: 7px solid;
    border-image: linear-gradient(180, lightsalmon tomato);
    border-image-slice: 1;
}
#second-half{
    border-left: 7px solid;
    border-image: linear-gradient(180, blue cyan);
    border-image-slice: 1;
}