body{
    margin: 0px;
    font-family: 'Pangolin', cursive;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    padding: 40px;
    width: 80%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    background-image: linear-gradient(lightsalmon,tomato);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;

}